*{
	margin: 0;
}
.top{
	background-image: url(../img/g_banner_background.png);
	background-position: center center;
	width: 100%;
	height: 600px;
	min-width: 1100px;
	}
.pig{
	float: left;
	}
.logo{
	width: 200px;
	position: relative;
	left: 15%;
	top: 30px;
}
.logo p{
	position: relative;
	left: 25px;
	top: 16px;
	color: white;
	font-family: arial;
	font-size: 28px;
}
.nav{
    float: right;
    margin-right: 5%;
}
.nav2 {
	float: left;
    margin-right: 50px;
    position: relative;
    list-style: none;		
    cursor: pointer;
    color: white;
    font-size: 18px;
}
.nav2:hover {
    color: #B22222;
}
.nav1{
	position: relative;
	margin-right: 50px;
	float: left;
	list-style: none;
	cursor: pointer;
	color: #B22222;
	border-bottom: firebrick 2px solid;
	padding-bottom: 10px;
	font-size: 18px;
}
.main{
	width: 90%;
	height: 500px;
	position: relative;
}
.left{
	display: inline-block;
	bottom: 0;
	width: 42%;
    height: 100%;
    margin: 0;
    padding: 9% 0 0 20%;
}
.banner{
	height: 80px;
}
.banner1{
	padding-right: 20px;
	width: 100px;
	color: white;
	font-size: 45px;
}
.banner2{
	width: 200px;
	font-size: 30px;
	margin-top: 20px;
	color: white;
	opacity: 0.8;
}
.banner3{
    display: inline-block;
	height: 30px;
	width: 100px;
	line-height: 30px;
	margin-left: 25px;
	background-color: #B22222;
	border: #B22222 1px solid;
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 20px;
}
.banner5{
	display: none;
}
hr{

	width: 200px;
	color: white;
}
.banner4{
	font-size: 33px;
    color: #fff;
    line-height: 60px;

}
.download{
	float: left;
	margin-top: 20px;
	width: 280px;
	height: 120px;
	background-color: #B22222;
	border-radius: 10px;
	cursor: pointer;
}
.download:hover {
    background: #ff5454;
}
.download p{
	
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 110px;
}
.download_QR{
	margin-left:5%;
	padding-top: 20px;
	float: left;
	width: 100px;
	height: 120px;
}
.download_QR img{
	width: 120px;
	height: 120px;
	border-radius: 10px;
}
.massage{
	

}
.download_size{
	float: left;
	width: 150px;
	margin-top: 30px;
    margin-right: 40px;
	font-size: 15px;
	color: white;
}
.download_data{
	float: left;
	margin-top: 30px;
	margin-right: 100px;
	width: 120px;
	color: white;
	font-size: 15px;
}
.right{
  overflow: hidden;
	width: 320px;
	height: 500px;
	float: right;
	position: relative;
	right: 0;
/*	z-index: -99;*/
}

.right img{
	width: 100%;


}

.bottom{
	height: 400px;
    width: 100%;
}

.bottom p{
	text-align: center;	
	font-size: 18px;
}
.pic1{
	text-align: center;
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-top: 50px;
	width: 20%;
	float: left;
}
.footer{
	text-align: center;
	line-height: 45px;
	height: 50px;
	width: 100%;
	background-color: gainsboro;
	font-size: 12px;
}
.fa-android{
	padding-right: 10px;
	
}
.fa-apple{
	padding-right: 10px;
}
.fa-windows{
	padding-right: 10px;
}
.fa-download{
	padding-right: 10px;
}
